{% extends "teacher/manage_student_layout.html" %}
{% block inner_content %}

<style>p { margin-bottom: 10px; }</style>

<div class="modal" id="homework-modal">
  <div class="modal-content" style="text-align: center;">
      <h2 style="margin-bottom: 15px;">Ödev Detayları</h2>
      <div style="text-align: left;">
          <p><strong>Başlık: </strong><span id="homework-title"></span></p>
          <p><strong>Açıklama: </strong><span id="homework-description"></span></p>
          <p><strong>Ders: </strong><span id="homework-subject"></span></p>
          <p><strong>Kazanım: </strong><span id="homework-objective"></span></p>
          <p><strong>Soru Sayısı: </strong><span id="homework-num-questions"></span></p>
          <p><strong>Başlangıç Tarihi: </strong><span id="homework-start_date"></span></p>
          <p><strong>Bitiş Tarihi: </strong><span id="homework-end_date"></span></p>
      </div>
      <button id="close-homework-btn">Kapat</button>
  </div>
</div>

<div class="two-columns">
    <div class="card">
        <h3 style="margin-bottom: 15px;">Ödevler</h3>
        {% if student.homeworks %}
        <div class="table-container" style="max-height: 500px; overflow-y: auto;">
            <table>
                <tr>
                    <th>Başlık</th>
                    <th>Başlangıç Tarihi</th>
                    <th>Bitiş Tarihi</th>
                    <th></th>
                </tr>
                {% for homework in student.homeworks %}
                <tr>
                    <td>{{ homework.title }}</td>
                    <td>{{ homework.start_date }}</td>
                    <td>{{ homework.end_date }}</td>
                    <td>
                        <button class="show-homework-button" data-homework='{{ homework.jsonized | tojson }}'>
                            Detaylar
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <p><em>Henüz ödev eklenmemiş</em></p>
        {% endif %}
    </div>
    <div class="card">
        <h3>➕ Yeni Ödev</h3>
        <form method="post" action="{{ url_for('teacher_routes.manage_student_page', username=student.username, section='homeworks') }}">
            {{ form.hidden_tag() }}
            {{ form.title.label }}
            {{ form.title() }}

            {{ form.description.label }}
            {{ form.description() }}

            <div class="form-fields">
                <div class="field">
                    {{ form.start_date.label }}
                    {{ form.start_date() }}
                </div>
                <div class="field">
                    {{ form.end_date.label }}
                    {{ form.end_date() }}
                </div>
            </div>

            {{ form.subject.label }}
            {{ form.subject() }}

            {{ form.objective.label }}
            {{ form.objective() }}

            {{ form.num_questions.label }}
            {{ form.num_questions() }}

            <button type="submit">➕ Ekle</button>
        </form>
    </div>
</div>

<script>
    function showHomeworkDetails(hw) {
        const homework_modal = document.getElementById("homework-modal");
        // Update each field
        document.getElementById("homework-title").textContent = hw.title;
        document.getElementById("homework-description").textContent = hw.description;
        document.getElementById("homework-subject").textContent = hw.subject;
        document.getElementById("homework-objective").textContent = hw.objective;
        document.getElementById("homework-num-questions").textContent = hw.num_questions;
        document.getElementById("homework-start_date").textContent = hw.start_date;
        document.getElementById("homework-end_date").textContent = hw.end_date;
        homework_modal.classList.add("show");
    }

    function hideHomeworkDetails() {
        document.getElementById("homework-modal").classList.remove("show");
    }

    function runPageScripts() {
        document.querySelectorAll(".show-homework-button").forEach(btn => {
            btn.addEventListener("click", () => {
                const hw = JSON.parse(btn.dataset.homework);
                showHomeworkDetails(hw);
            });
        });

        document.getElementById("close-homework-btn").addEventListener("click", hideHomeworkDetails);

        document.addEventListener("click", function (e) {
            const modal = document.getElementById("homework-modal");
            if (!modal) return;

            if (e.target === modal) modal.classList.remove("show");
        });

        const subjectObjectives = {{ objectives|tojson }};
        const subjectSelect = document.getElementById("subject");
        const objectiveSelect = document.getElementById("objective");

        subjectSelect.addEventListener("change", function(){
            const subjectKey = this.value;
            const objectives = subjectObjectives[subjectKey] || [];

            // Clear old options
            objectiveSelect.innerHTML = '<option value=""></option>';

            // Add new options
            objectives.forEach(o => {
                const opt = document.createElement("option");
                opt.value = o.code;
                opt.textContent = o.objective;
                objectiveSelect.appendChild(opt);
            });
        });
    }
    if (document.readyState === "loading") {
        document.addEventListener("DOMContentLoaded", runPageScripts);
    }
    else {
        runPageScripts();
    }
</script>

{% endblock %}