{% extends "layout.html" %}

{% block content %}
<h2>🔒 Şifre Değiştir</h2>

<div class="card hover-table" style="max-width: 500px; margin-top: 20px;">
  <form method="POST" action="{{ url_for('common_routes.change_password_page') }}">
    {{ form.hidden_tag() }}
    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}
    {{ form.old_password.label }}
    {{ form.old_password() }}
    {{ form.new_password.label }}
    {{ form.new_password() }}
    {{ form.new_password_again.label }}
    {{ form.new_password_again() }}
    {% if try_status != "empty" and status_color == "red" %}
    <p style="margin-bottom:10px; font-weight:bold; color:red;">⚠️ {{ try_status }}</p>
    {% endif %}
    {% if try_status != "empty" and status_color == "green" %}
    <p style="margin-bottom:10px; font-weight:bold; color:green;">✅ {{ try_status }}</p>
    {% endif %}
    <button type="submit">Şifreyi Güncelle</button>
  </form>
</div>
{% endblock %}
